.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}
.navibutton{
  display: flex;
  flex-direction: column;
  size: 15px;
  padding-top: 20px;

}
mat-sidenav{
 padding: 10px;
}
.menubutton{
  margin: 10px;
  z-index: 100;
}
.vericool{
  padding-top: 50px;
}
.hover-class{
  size: 20px;
}
#myVideo {
  position:fixed;
  height: 100vh;
  margin-top: -100px;
}
button, mat-icon {
&.active{
  color: black;
}
}



