.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.navibutton{
  display: flex;
  flex-direction: column;
  size: 15px;
  padding-top: 20px;

}
mat-sidenav{
 padding: 10px;
}
.menubutton{
  margin: 10px;
}
.vericool{
  padding-top: 50px;
}
