<form #myform="ngForm"(ngSubmit)="onSubmit(myForm)">
  <div class="myaccountform">
    <form action="">
      <p>mat-form-field</p>
      <mat-form-field appearance="outline">
        <mat-label>my name</mat-label>
        <input matInput placeholder="your name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </form>
  </div>
</form>
