
h1{
  position: absolute;
  top: 10em;
  left: 10em;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-left: 50px;
}
p {
  position: absolute;
  top: 20em;
  left: 20em;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-left: 50px;
}
#myVideo {
  height: 107vh;
  margin-top: -190px;


}
button{
  position: absolute;
  top: 22em;
  left: 30em;
}
