.myform{
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 50px;

}
h2{
  font-weight: lighter;
  letter-spacing: 3px;
}


.links{
  display: flex;
  flex-direction: row;
}
a{
  padding-right: 20px;
  color: white;
}
a{
&.active{
   color:#C2185B;
 }
}
