.fullcontainer{
  width: 100%;
}

.example-container {
  width: 100%;
  height: 100vh;
}

.example-sidenav-content {

  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.example-button{
  display: flex;
  flex-direction: column;
  margin:40px;
}
.example-button .mat-button-base{
  margin: 10px
}

.myform{
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 50px;

}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
