<div class="fullcontainer">
  <mat-drawer-container  class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h1> Some New <br> STUFF</h1>
    <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
    <div fxLayoutGap="10px">
      <div class="example-button">
        <button mat-fab color=secondary (click)="$event">
          <mat-icon matBadge="15" matBadgeOverlap="false" matBadgeColor="primary" >home</mat-icon>
        </button>
        <button mat-fab color=secondary (click)="$event">
          <mat-icon matBadge="4" matBadgeOverlap="false" matBadgeColor="primary" >chat</mat-icon>
        </button>
        <button mat-fab color=secondary>
          <mat-icon>feed</mat-icon>
        </button>
        <button mat-fab color=secondary>
          <mat-icon>share</mat-icon>
        </button>
        <button mat-fab color=primary >
          <mat-icon>login</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
     <div class="blogbutton"> <button mat-stroked-button color="accent">DesignBlog</button>
       <button mat-stroked-button color="accent">CodingBlog</button>
       <button mat-stroked-button color="accent">SportBlog</button></div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-fab  color="primary" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button> VerinasWorld
  </div>
    <app-carousel></app-carousel>
    <app-form></app-form>
    <app-news></app-news>
</mat-drawer-container></div>
