

.example-container {
  width: 100vh;
  height: 100vh;
}

.example-sidenav-content {

  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.example-button{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.myform{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 50px;

}
