<div class="fullcontainer">
  <mat-drawer-container  class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h1> MY NEW APP</h1>
    <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
    <div fxLayoutGap="10px">
      <div class="example-button">
        <button mat-fab color=secondary (click)="$event">
          <mat-icon>smart_button</mat-icon>
        </button>
        <button mat-fab color=secondary (click)="$event">
          <mat-icon matBadge="15" matBadgeColor="primary" >home</mat-icon>
        </button>
        <button mat-fab color=secondary>
          <mat-icon>chat</mat-icon>
        </button>
        <button mat-fab color=secondary>
          <mat-icon>share</mat-icon>
        </button>
        <button mat-fab color=primary >
          <mat-icon>login</mat-icon>
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-fab color="primary" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="myform">
    <h2>Fill out the cool Form and see whats going on</h2>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>


</mat-drawer-container></div>
