.example-card {
  max-width: 400px;
  margin-right: 40px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.containernews{
  display: flex;
  flex-direction: row;

  margin: 50px;
}
h2{
  font-weight: lighter;
  letter-spacing: 3px;
  margin-left: 50px;

}
