<h2>CHECKOUT MY DESIGN BLOG!</h2>
<div class="containernews">
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Yoga Girl Collection</mat-card-title>
    <mat-card-subtitle>Painting with Adobe Fresco</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://s8.directupload.net/images/210324/jrwc5r6m.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Design Polygon Background</mat-card-title>
      <mat-card-subtitle>Creating with Adobe Photoshop</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://s18.directupload.net/images/210324/iiyxr8q4.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Design Polygon Background</mat-card-title>
      <mat-card-subtitle>Creating with Adobe Photoshop</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://s18.directupload.net/images/210324/r6ljxzlr.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
