.supercontainer{
  margin: 20px;
}
.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.image{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.image:hover{
}
.counting{
  display: flex;
  flex-direction: row;
}

